/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
	color: #222;
	font-size: 1rem;
	line-height: normal;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
Author's custom styles (Atomic Design)
========================================================================== */
/* Generales */
@font-face {
	font-family: 'VodafoneRg-Regular';
	src: url('../assets/fonts/VodafoneRg.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/VodafoneRg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/VodafoneRg.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/VodafoneRg.woff') format('woff'), /* Pretty Modern Browsers */
	url('../assets/fonts/VodafoneRg.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/VodafoneRg.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'VodafoneLt-Regular';
	src: url('../assets/fonts/VodafoneLt-Regular.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/VodafoneLt-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/VodafoneLt-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/VodafoneLt-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('../assets/fonts/VodafoneLt-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/VodafoneLt-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'VodafoneRg-Bold';
	src: url('../assets/fonts/vodafonergbd-webfont.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/vodafonergbd-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/vodafonergbd-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/vodafonergbd-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../assets/fonts/vodafonergbd-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/vodafonergbd-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.container { max-width: 320px; margin: 0 auto; }
@media (min-width: 768px) {
	.container { max-width: 768px; }
}

@media (min-width: 1200px) {
	.container { max-width: 1200px; }
}

/* Elementos */
.el-hero-logo {
	width: 98px;
	height: auto;
}

	@media (min-width: 768px) {
		.el-hero-logo {
			width: 114px;
		}
	}

	@media (min-width: 1200px) {
		.el-hero-logo {
			width: auto;
		}
	}

.el-hero-title {
	font-family: 'VodafoneRg-Regular';
	font-size: 1.875rem;
	line-height: 2rem;
	margin-top: 1.875rem;
	margin-bottom: 0;
}

	@media (min-width: 768px) {
		.el-hero-title {
			font-size: 2.25rem;
			line-height: normal;
		}
	}

	@media (min-width: 1200px) {
		.el-hero-title {
			font-size: 2.75rem;
		}
	}

.el-hero-subtitle {
	font-family: 'VodafoneRg-Regular';
	font-size: 1.875rem;
	font-size: 1.25rem;
	margin-top: 0.9375rem;
	margin-bottom: 0;
}

	@media (min-width: 768px) {
		.el-hero-subtitle {
			font-family: 'VodafoneLt-Regular';
			font-size: 1.625rem;
		}
	}

	@media (min-width: 1200px) {
		.el-hero-subtitle {
			font-size: 1.875rem;
		}
	}

.el-hero-featured-text {
	font-family: 'VodafoneRg-Bold';
	font-size: 1.25rem;
	margin-top: 0.9375rem;
	margin-bottom: 0;
}

	@media (min-width: 768px) {
		.el-hero-featured-text {
			font-size: 1.625rem;
		}
	}

	@media (min-width: 1200px) {
		.el-hero-featured-text {
			font-size: 1.875rem;
		}
	}

.el-hero-button {
	font-family: 'VodafoneRg-Regular';
	font-size: 1.125rem;
	background: #e60000;
	border: 1px solid #e60000;
    color: #fff;
    width: 100%;
	height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	margin-top: 1.875rem;
}

.el-hero-button:hover, .el-hero-button:focus {
	background: #970000;
}

	a.el-hero-button {
		text-decoration: none;
	}

	@media (min-width: 768px) {
		.el-hero-button {
			width: 89px;
			height: 45px;
		}
	}

/* Componentes */

/* Bloques */
.bl-hero {
	background-image: url('../assets/images/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 397px;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

	.bl-hero > .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 0.625rem;
	}

		@media (min-width: 768px) {
			.bl-hero > .container {
				padding: 0 0.9375rem;
			}
		}

	@media (min-width: 768px) {
		.bl-hero {
			height: 403px;
		}
	}

	@media (min-width: 1200px) {
		.bl-hero {
			height: 401px;
		}
	}


/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden,
[hidden] {
	display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	
	a,
	a:visited {
		text-decoration: underline;
	}
	
	a[href]::after {
		content: " (" attr(href) ")";
	}
	
	abbr[title]::after {
		content: " (" attr(title) ")";
	}
	
	/*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}
	
	pre {
		white-space: pre-wrap !important;
	}
	
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	
	/*
	* Printing Tables:
	* https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	*/
	thead {
		display: table-header-group;
	}
	
	tr,
	img {
		page-break-inside: avoid;
	}
	
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	
	h2,
	h3 {
		page-break-after: avoid;
	}
}

